.register-container{
  height: 100vh;
  width: 100vw;
  background-color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  flex-direction:column;
}

.register-title{
  width: 20rem;
  text-align: left;
  color: #FF671D;
  font-weight:bold;
}

.register-field{
  border:2px solid #FF671D;
  border-radius: 10px;
  height: 35px;
  width: 20rem;
  margin-top:1rem;
}

.role-field{
  width:6.7rem;
}

.password-field{
  margin-top:2rem;
}

.register-btn{
  background-color:#FF671D;
  border:0px;
  border-radius: 8px;
  height: 35px;
  width:10rem;
  margin-top: 1rem;
  font-size:12px;
}