.splash-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.splash-logo-title-wrap{
    height: 80px;
    width: 360px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    display:flex;
    position: absolute;
    top:0;
}

.splash-logo-title-one{
    font-weight:bold;
    font-size: 50px;
}

.splash-logo-title-two{
    font-size: 45px;
}

.splash-logo-img-wrap{
    height: 270px;
    width: 270px;
    display:flex;
    align-items: center;
    justify-content:center;
}

.splash-logo-circle-portrait{
    border-radius: 50%;
    width: 270px;
    height: 270px;
    background: #FCFADD;
    border: 10px solid #F8EB30;
}

.splash-caption-wrap{
    color:white;
    font-size: 16px;
    font-weight: bold;
    width: 250px;
    text-align: center;
}

.splash-button-wrap{
    display:flex;
    align-items:center;
    justify-content:space-around;
    height: 70px;
    width: 300px;
}

.splash-button{
    height: 50px;
    width: 120px;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius: 7px;
    font-weight: bold;
    text-decoration: none;
}

.splash-button a {
    color:inherit;
}

.splash-button-one{
    border:3px solid #F8EB30;
    color: #F8EB30;
}

.splash-button-two{
    color: #FF671D;
    background-color: #F8EB30;
}